
*{
    box-sizing: border-box;
  }
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height:100vh;
      background-image: radial-gradient(circle, #704790, #5b407e, #49386c, #383059, #2a2746);
      background-repeat: no-repeat;
      background-size:cover;
  }
  .navbar {
    background-image: linear-gradient(to right, #021526, #011932, #051c3d, #111e48, #211e51);
    padding-top:3%;
    padding-bottom:0.5%;
    display: flex;
    justify-content: center; 
  }
   .menu-item {
    padding: 1%;
    border-radius: 10%;
    cursor: pointer;
    margin: 0 9%; 
    color: whitesmoke;
  }
  .menu-item:hover{
    background-color: #525559;
  }
  .icon {
    font-size: 50px; 
    color: #4CAF50; 
  }
  
  .text {
    margin-top: 9px; 
  }
  #titlebar{
    display:block;
    position: fixed;
    height:32px;
    width: calc(100% - 2px);
    background: transparent;
    padding: 4px;
  }
  #titlebar #drag-region{
    display: grid;
    grid-template-columns: auto 138px;
    width: 100%;
    height:100%;
    -webkit-app-region: drag;
  }
  #window-controls {
    -webkit-app-region:no-drag;
    display: grid;
    grid-template-columns: repeat(4, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  #window-controls .button {
    user-select: none;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #window-controls .button:hover{
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
  }
  #window-controls .button:active {
    background: rgba(255,255,255,0.2);
  }
  #close-button:hover{
    border-radius: 10px;
    background: #E81123 !important; 
  }
  #close-button:active {
    background: #F1707A !important;
  }
  #close-button:active .icon {
    filter: invert(1);
  }
  #restore-button{
    display:none !important;
  }
  #settings-button{
    grid-column: 1;
  }
  #settings-button:hover{
    background: rgba(0, 200, 255, 0.2);
  }
  #min-button {
    grid-column: 2;
  }
  #max-button, #restore-button {
    grid-column: 3;
  }
  #close-button {
    grid-column: 4;
  }
  #window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    color:#fff;
    font-size: 17px;
  }
  
  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }
  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }
  
  .maximized #window-title {
    margin-left: 12px;
  }
  
  .maximized #restore-button {
    display: flex !important;
  }
  
  .maximized #max-button {
    display: none;
  }
  
  .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height:50%;
      width: 60%;
      padding-left: 2%;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-right: 1%;
      background: transparent;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    }
    .drag-area {
      left: 50%;
      width: 93%;
      height: 93%;
      border: 2px dashed #B7B7B7;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 2%;
    }
  
    .drag-area:hover{
      background: rgba(255,255,255,0.1);
    }
    .drag-area .icon {
      font-size: 50px;
      color: #1683ff;
    }
    
    .drag-area .header {
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
    .drag-area.active {
      background: rgba(255,255,255,0.1);
      border: 2px solid #1683ff;
    }
    
    .drag-area img {
      margin-left:10%;
      margin-top:20%;
      width: 70%;
      height: 70%;
      object-fit: cover;
    }
  
    .png {
      filter: brightness(200%) contrast(200%) invert(100%) sepia(0%);
  }
  .navbar-icons {
      width: 50px;
      height: 50px;
      filter: brightness(200%) contrast(200%) invert(100%) sepia(0%);
  
  }
  .drag-area .icon {
      opacity: 65%;
      width: 250px;
      height: 250px;
      color: #1683ff;
    }
    footer{
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
    }
    footer .bottom-details{
      width: 100%;
      background: #021526;
    }
    footer .bottom-details .bottom_text{
      max-width: 1250px;
      margin: auto;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
    }
  
  .display-info{
    border: 1px solid rgba(255,255,255,0.1);
    background: linear-gradient(#fff2,transparent);
    box-shadow:0 25px 250x rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    padding: 1%;
    margin: 2%;
    margin-left:2%;
    margin-top: 2%;
    width: 90%;
    height: 15%;
  }
  .convert-all{
    background-color: #04AA6D;
    border: none;
    border-radius:20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .convert-all-disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
  .progress{
    width:15%;
    height: 15%;
    margin-left:40%;
  }
  .wrapper {
    margin: auto;
    width: 250px;
    position: absolute; 
    top: 50%; 
    left: 60%; 
    transform: translate(-50%, -50%);
  }
  .select-btn, li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .select-btn {
    height: 39px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }
  .select-btn i {
    font-size: 31px;
    transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i {
    transform: rotate(-180deg);
  }
  .content {
    display: none;
    padding: 20px;
    margin-bottom: 15px; 
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: absolute; 
    bottom: 100%; 
    left: 0;
    right: 0;
    z-index: 10; 
  }
  .wrapper.active .content {
    display: block;
  }
  .content .search {
    position: relative;
  }
  .search i {
    top: 50%;
    left: 15px;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
  }
  .search input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
  }
  .search input:focus {
    padding-left: 42px;
    border: 2px solid #4285f4;
  }
  .search input::placeholder {
    color: #000;
  }
  .content .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
  }
  .options::-webkit-scrollbar {
    width: 7px;
  }
  .options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
  .options li {
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
  }
  .options li:hover, li.selected {
    border-radius: 5px;
    background: whitesmoke;
  }
  
  /* dark mode */
  :root{
    color-scheme: light dark;
  }
    @media (prefers-color-scheme: dark){
      .search input{
        background-color: #524084;
      }
      .options li:hover, li.selected {
        background: rgb(56, 85, 113);
      }
      .content{
        background-color: #2d273e;
      }
      .select-btn{
        background-color: #1683ff;
      }
      .convert-all{
        background-color: #1683ff;
      }
    }
    @media (prefers-color-scheme: light){
      .progress{
        content: url("./icons/progres-dark.png");
      }
      .display-info{
        filter: blur(4x);
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid rgba(255, 255, 255, 0.3);
      }
      .select-btn{
        color: #fff;
      }
      .drag-area .header {
        color: #000;
      }
      .select-btn{
        background-color: #04AA6D;
      }
      .navbar{
        background-image: linear-gradient(to left, #11284a, #2a3470, #563b90, #8d38a8, #c923b4);   
      }
      body{
        background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
      }
      footer .bottom-details{
        background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
      }
      #titlebar{
        background: transparent;
      }
      .menu-item:hover{
        background: rgba(255,255,255,0.1);
      }
    }